<template>
  <Layout>
     
    <h1>Cat Blog!</h1>
   
    <div v-for="post in $page.posts.edges" :key="post.node.id">
      <h2>{{post.node.title}}</h2>
      <div v-html="post.node.content" />
    </div>

  </Layout>
</template>

<page-query>
query Posts {
  posts: allPost {
    edges {
      node {
        id
        title
        content
      }
    }
  }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>

<style scoped>
.flex {
  display: flex
}
.badge {
  margin-right: 1rem;
  border-radius: 999999px;
  padding: 0.25rem 0.5rem;
  background-color: hsl(217, 50%, 50%);
}

.badge-link {
  color: hsl(217, 5%, 95%);
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
}
</style>
